extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= title
	.row
		.col-md-6.col-sm-12
			p Loc8r was created to help people find places to sit down and get a bit work done
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur voluptates sed beatae vero numquam quod magni saepe esse molestias nemo! Perspiciatis natus enim iste culpa ipsum quae harum iusto qui.
